@font-face {
  font-family: "Somar";
  src: local("Somar Sans"),
    url("./fonts/SomarSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Somar Light";
  src: local("Somar Sans"),
    url("./fonts/SomarSans-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Somar Bold";
  src: local("Somar Sans"),
    url("./fonts/SomarSans-Bold.ttf") format("truetype");
}

body {
    font-family: 'Somar', sans-serif;
    overflow-x: hidden;
    margin: 36px;
  }